<h2>Add your new game here!</h2><br>

<form method="POST" action="/games">

    Title: <input type="text" name="title">
    <br><br>
    Platform: <input type="text" name="platform"><br><br><br>
    <input type="submit">
</form>