<h1>Add your new game here</h1>

<form method="POST" action="/games">

    Title: <input type="text" name="title"><br />
    Platform: <input type="text" name="platform"><br />
    <input type="submit">
</form>