<h1>Welcome to the Game Share Library! Please log in or sign up!</h1>
<br>
<form method="POST" action="/login">
    Email: <input type="text" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Log In"> <br><br>
</form>
<br>
<a href="/users/signup"> Sign Up Here!